[submodule "baxter"]
	path = baxter
	url = https://github.com/EmaroLab/baxter.git
[submodule "baxter_simulator"]
	path = baxter_simulator
	url = https://github.com/EmaroLab/baxter_simulator.git
[submodule "baxter_interface"]
	path = baxter_interface
	url = https://github.com/RethinkRobotics/baxter_interface.git
[submodule "baxter_tools"]
	path = baxter_tools
	url = https://github.com/RethinkRobotics/baxter_tools.git
[submodule "baxter_common"]
	path = baxter_common
	url = https://github.com/RethinkRobotics/baxter_common.git
[submodule "baxter_examples"]
	path = baxter_examples
	url = https://github.com/RethinkRobotics/baxter_examples.git
[submodule "openni_camera"]
	path = openni_camera
	url = https://github.com/ros-drivers/openni_camera.git
[submodule "kinect_aux"]
	path = kinect_aux
	url = https://github.com/muhrix/kinect_aux.git
[submodule "openni_tracker"]
	path = openni_tracker
	url = https://github.com/EmaroLab/openni_tracker.git
