[submodule "baxter"]
	path = baxter
	url = https://github.com/EmaroLab/baxter.git
[submodule "baxter_simulator"]
	path = baxter_simulator
	url = https://github.com/EmaroLab/baxter_simulator.git
[submodule "baxter_interface"]
	path = baxter_interface
	url = https://github.com/RethinkRobotics/baxter_interface.git
[submodule "baxter_tools"]
	path = baxter_tools
	url = https://github.com/RethinkRobotics/baxter_tools.git
[submodule "baxter_common"]
	path = baxter_common
	url = https://github.com/RethinkRobotics/baxter_common.git
[submodule "baxter_examples"]
	path = baxter_examples
	url = https://github.com/RethinkRobotics/baxter_examples.git
[submodule "openni_camera"]
	path = openni_camera
	url = https://github.com/ros-drivers/openni_camera.git
[submodule "kinect_aux"]
	path = kinect_aux
	url = https://github.com/muhrix/kinect_aux.git
[submodule "openni_tracker"]
	path = openni_tracker
	url = https://github.com/EmaroLab/openni_tracker.git
[submodule "android_core"]
	path = android_core
	url = https://github.com/roncapat/android_core
[submodule "genjava"]
	path = genjava
	url = https://github.com/rosjava/genjava
[submodule "rosjava_core"]
	path = rosjava_core
	url = https://github.com/rosjava/rosjava_core
[submodule "rosjava_extras"]
	path = rosjava_extras
	url = https://github.com/rosjava/rosjava_extras
[submodule "rosjava_bootstrap"]
	path = rosjava_bootstrap
	url = https://github.com/rosjava/rosjava_bootstrap
[submodule "rosjava_build_tools"]
	path = rosjava_build_tools
	url = https://github.com/rosjava/rosjava_build_tools
[submodule "rosjava_messages"]
	path = rosjava_messages
	url = https://github.com/rosjava/rosjava_messages
[submodule "rosjava_test_msgs"]
	path = rosjava_test_msgs
	url = https://github.com/rosjava/rosjava_test_msgs
[submodule "zeroconf_jmdns_suite"]
	path = zeroconf_jmdns_suite
	url = https://github.com/rosjava/zeroconf_jmdns_suite
[submodule "rosjava"]
	path = rosjava
	url = https://github.com/rosjava/rosjava
[submodule "baxter_pykdl"]
	path = baxter_pykdl
	url = https://github.com/RethinkRobotics/baxter_pykdl.git
